@font-face {
    font-family: 'iconfont';
    src: url('iconfont.woff2') format('woff2'), url('iconfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
    content: "\e689";
}